@font-face {
    font-family: 'Krub ExtraLight';
    src: url('../fonts/Krub-ExtraLight.woff');
}

#scrollButton {
    position: fixed;

    margin-left: 90%;
    bottom: 20px;
    right: 20px;
    padding: 8px 8px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0); 
    opacity: 5;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    z-index: 3; 
}

#scrollButton:hover {
    background-color: rgba(29, 68, 167, 1);
}


.back_first{
    background-color: rgba(29, 68, 167, 1);
    width: 100%;
    height: 95vmin;

    margin-top: -1%;
    min-width: 1400px;
    min-height: 850px;

    z-index: 0;
}


.back_second{
    background-color: rgba(19, 51, 134, 1);
    width: 100%;
    height: 110vmin;

    margin-top: -2%;
    min-width: 1400px;
    min-height: 950px;

    z-index: 0;
}


.back_third{
    background-color: rgba(34, 42, 118, 1);
    width: 100%;
    height: 250vmin;

    margin-top: 1%;
    min-width: 1400px;
    min-height: 1980px;

    z-index: 0;
}

.footer{
    background-color: rgba(100, 111, 132, 1);
    width: 100%;
    height: 60vmin;

    margin-top: 4%;
    min-width: 1400px;
    min-height: 550px;

    z-index: 2;
}

.btc_logo{
    margin-left: 10%;

    z-index: 1;
}

.hse_icon{
    margin-left: 81%;
    margin-top: max(-11%, -1300px);

    z-index: 1;
}

.reg_button{
    height: 50px;
    width: 50px;
}

.text_page1{
    width: 1000px;

    margin-left: 180px;
    margin-top: 9%;
    
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-family:  'Krub ExtraLight', sans-serif;
}

.text_page3{
    text-align: center;

    margin-top: 2%;
    margin-left: 25%;

    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;

    color: rgba(255, 255, 255, 1);
    font-family:  'Krub ExtraLight', sans-serif;
}

.text_page2_4{
    text-align: center;

    margin-top: 1%;

    color: rgba(255, 255, 255, 1);
    font-family:  'Krub ExtraLight', sans-serif;
}

.guide_container{
    margin-top: 5%;

    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;

}

.guide_boxes{
    width: 16%;
    height: 40%;
    min-height: 550px;
    min-width: 300px;

    color: rgba(255, 255, 255, 1);
    font-size: 35px;
    font-family:  'Krub ExtraLight', sans-serif;

    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    padding: 15px;
    background-color: rgba(33, 67, 152, 1);
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.feild_container{
    margin-top: 2%;

    font-family:  'Krub ExtraLight', sans-serif;
    color: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: row;
    width: 90%;
    min-width: 700px;
    justify-content: space-around;
}

.feild1{
    border: none;
    border-radius: 20px;
    background-color: rgba(41, 53, 168, 1);
    color: rgba(255, 255, 255, 1);
    font-size: x-large;
    padding: 3px;
    text-transform: uppercase;

    /* width: 35%; */
    height: 70px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 1);
    border-left: none;
    border-right: none;
    border-radius: 10px;
    
    z-index: 1;
    top: 100%;
    left: 50;
    right: 50;
    background-color: rgba(41, 53, 168, 1);
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(41, 53, 168, 1);
    color: rgba(255, 255, 255, 1);
}

.autocomplete-items div:hover {
    background-color: rgba(13, 18, 69, 1);
}

.feild2-3{
    border: none;
    border-radius: 20px;
    background-color: rgba(41, 53, 168, 1);
    color: rgba(255, 255, 255, 1);
    font-size: x-large;
    padding: 3px;
    text-transform: uppercase;

    width: 17%;
    height: 70px;
}

.feild_period_start{
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgba(41, 53, 168, 1);
    color: rgba(255, 255, 255, 1);
    font-size: x-large;
    padding: 3px;

    width: 17%;
    height: 70px;
}

.feild_period_end{
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(41, 53, 168, 1);
    color: rgba(255, 255, 255, 1);
    font-size: x-large;
    padding: 3px;

    width: 17%;
    height: 70px;
}

.start_button{
    border: none;
    border-radius: 20px;
    background-color: rgba(18, 94, 63, 1);
    color: rgba(255, 255, 255, 1);
    font-size: xx-large;
    padding: 10px;
    text-align: left;

    width: 17%;
    height: 70px;
}

.check_for_notifications_container{
    margin-top: 3%;
    margin-left: 5%;

    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-around;

    font-family:  'Krub ExtraLight', sans-serif;
    font-size: x-large;
    color: white;
}

.custom_checkbox {
    width: 30px;
    height: 30px;
}

.label_checkbox{
    width: 70%;
    height: 20%;
    background-color: rgba(65, 76, 188, 1);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.error-message{
    background-color: rgba(41, 53, 168, 1);
    border-radius: 20px;
    margin-left: 1%;
    height: 70px;
    
    padding: 16px;
    display: none;
    text-align: center;
    font-family:  'Krub ExtraLight', sans-serif;
    font-size: x-large;
    color: rgba(240, 82, 82, 1);
}

.grafic{
    width: 83%;
    height: 700px;
    min-width: 750px;

    border: 3px solid rgba(97, 109, 218, 1);
    background-color: rgba(13, 18, 69, 1);
    border-radius: 15px;

    padding: 8px;
    font-family:  'Krub ExtraLight', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.news{
    margin-top: 2%;
    padding: 8px;
    font-family:  'Krub ExtraLight', sans-serif;
    color: rgba(255, 255, 255, 1);

    width: 73%;
    height: 350px;
    min-width: 750px;

    border: 3px solid rgba(255, 255, 255, 1);
    background-color: rgba(43, 51, 132, 1);
    border-radius: 30px;
    color: rgba(255, 255, 255);
    font-family:  'Krub ExtraLight', sans-serif;
}

.analysis{
    margin-top: 1%;
    padding: 8px;
    font-family:  'Krub ExtraLight', sans-serif;
    color: rgba(255, 255, 255, 1);

    width: 73%;
    height: 350px;
    min-width: 750px;

    border: 3px solid rgba(97, 109, 218, 1);
    background-color: rgba(13, 18, 69, 1);
    border-radius: 15px;
}

.footer_text{

    color: rgba(255, 255, 255, 1);
    font-size: x-large;
    font-family:  'Krub ExtraLight', sans-serif;
    padding: 20px;
}

