<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Account</title>
    <link rel="stylesheet" href="../static/css/win_style.css">
    <script src="../static/js/scripts_acc.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color: rgba(19, 51, 134, 1);">
    <div class="window">
        <a href="/"><button style="border: none; background: none; border-radius: 30px;">
            <div class="arrow">
                <img src="../static/images/arrow.png" alt="arrow" style="height: 60px; width: 60px;">
            </div>
        </button></a>

        <h1 class="title">Your Account</h1>

        <input placeholder="e-mail address" class="email_in_profile" type="text" id="your_email" value="{{ your_email }}" readonly></input>

        <form method="POST">
            <!--<table id="itemsTable" style="margin-top: 3%; margin-right: 5%;">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Subscription</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <input type="checkbox" name="items" value="{{ item }}"> {{ item }}<br>
                    {% endfor %}
                </tbody>
            </table>-->

            <table id="itemsTable" style="margin-top: 3%; margin-right: 5%;">
                <h2 class="stocks_and_crypto"> Your stocks and cryptocurrencies</h2>
                <div class="checkbox">
                    {% for item in items %}
                        <input type="checkbox" name="items" value="{{ item }}"> {{ item }}<br>
                    {% endfor %}
                </div>
            </table>
            <button id="deleteSelected" class="deleteSelectedButton" name="delete_stock">Delete Selected</button>

            <div class="profile_buttons">
                <button type="submit" class="down_button_delete" style="margin-top: 5%;" name="delete_account">Delete Account</button>
                <button type="submit" class="down_button_delete" style="margin-top: 5%;" name="log_out">Log out</button>
            </div>
        </form>
    </div>
    
</body>
</html>
